pre.collapsed {
    max-height: 150px;
    overflow: hidden;
    position: relative;
    display: block; /* Change from none to block */
}

pre.collapsed::after {
    content: "Show more...";
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(to bottom, transparent, white);
    color: #007bff;
    cursor: pointer;
    padding: 5px;
    display: block;
}

/* Add styles for the new buttons */
.code-actions .btn {
    margin-left: 5px;
}

/* Add consistent spacing for global buttons */
.global-buttons .btn {
    margin-right: 5px;
}

.global-buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.markdown-content {
    overflow: hidden;
}

.markdown-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.tree-view {
    list-style-type: none;
    padding-left: 20px;
}

.tree-view li {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.tree-view .folder::before,
.tree-view .file::before {
    font-family: "Font Awesome 5 Free"; /* Correct Font Awesome family */
    font-weight: 900; /* Required for solid icons */
    margin-right: 8px;
}

.tree-view .folder::before {
    content: '\f07b'; /* Font Awesome folder icon */
    color: #f0ad4e; /* Orange color for folders */
}

.tree-view .file::before {
    content: '\f15b'; /* Font Awesome file icon */
    color: #5bc0de; /* Blue color for files */
}

.tree-view .expanded::before {
    content: '\f07c'; /* Font Awesome open folder icon */
}

.search-bar {
    margin-bottom: 1rem;
}

.search-bar,
#cards-container,
#search-results,
#tree-view-container {
    display: none;
}

div#search-results ul li:hover {
    background-color: cadetblue;
    cursor: pointer;
}
