@page "/markdown-viewer"
@using System.Net.Http
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager


<div class="markdown-body bg-light p-3 rounded">
    @((MarkupString)RenderedHtml)
</div>