@page "/blogs"
@using System.IO
@using System.Linq
@using OMKR.Services.ContentBlog.WebApp.Data
@inject HttpClient HttpClient

<h3 class="unprintable">File System Tree View</h3>

<p>x is @x</p>

@code{
    private int x = 45;
    private FileNode? RootNode = new();

    protected override async Task OnInitializedAsync()
    {
        x = 98;
        var rootNode = await HttpClient.GetFromJsonAsync<FileNode>("structure.json");
        if (rootNode != null)
        {
            RootNode = rootNode;
        }

        Console.WriteLine(rootNode.Name);
    }
}