@page "/blogs"
@using System.IO
@using System.Linq
@using OMKR.Services.ContentBlog.WebApp.Data
@inject HttpClient HttpClient

@if (Nodes != null)
{
    <ul>
        @foreach (var node in Nodes)
        {
            <li>
                @if (node.IsDirectory)
                {
                    <details>
                        <summary>@node.Name</summary>
                        <TreeView Nodes="node.Children.ToList()" OnFileSelected="OnFileSelected" />
                    </details>
                }
                else
                {
                    <button @onclick="() => OnFileSelected.InvokeAsync(node.Path)">
                        @node.Name
                    </button>
                }
            </li>
        }
    </ul>
}